body {
  background: #d2dae2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
}

#particles-js canvas {
  position: fixed;
  /* fill the entire page */
  width: 100%;
  height: 100%;
  /* remove the space along the edges */
  margin: 0;
  padding: 0;
  /* position it to start at the top of the page */
  top: 0;

  /* put it behind other content */
}

.main-img {
  margin: 0;
  padding: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.my-img {
  margin: 0;
  padding: 0;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: relative;
  top: 75px;
}

.my-img:hover {
  border-radius: 80%;
  transition: 1s;
}

.txtarea {
  text-align: center;
  font-size: 20px;
  color: #1e272e;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 80px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.txtarea .about-text {
  background-color: :#bdbdbd;
}

.cover-img {
  margin: 0;
  padding: 0;
  background: url('../images/cover-image.jpg');
  opacity: 0.5;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: -1;
}

.heading1 {
  margin: 25px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 50px;
  color: #485460;
  font-family: 'Ubuntu', sans-serif;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
}

.projects {
  margin: 20px;
  width: 300px;
  height: 440px;
  margin-bottom: 10px;
  background-color: #b1c6db;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.projects:hover {
transform: scale(1.015);
}

.project-name {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #d2dae2;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  background-color: #394856;
  max-width: inherit;
  width: 300px;
}

.project-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #273645;
  padding: 10px;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 39px;
  color: black;
}

.project-image {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project-image img {
  padding: 5px;
  padding-top: 2px;
  width: 100%;
  height: auto;
}

.project-link .fa-github {
  text-decoration: none;
  color: #212f3c;
  border-radius: 10%;
  padding: 8px;
  box-shadow: -2px -2px 6px rgba(152, 159, 204, 0.8), 3px 3px 6px rgba(46, 45, 45, 0.2), inset -5px -5px 8px rgba(255, 255, 255, 0.5), inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.project-link .fa-github:hover {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.skills-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: #d2dae2;
}
.bar {
    z-index: 1;
  flex-basis: 40%;
background-color: #273645;
    padding: 5px;
    margin: 15px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.);
    color: #273645;


}
@media only screen and (max-width: 768px) {
  .skills-container {
    width: 80%;
    justify-content: center;
  }
  .bar {
      z-index: 1;
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 450px) {
  .skills-container {
    width:85%;
    justify-content: center;
  }
  .bar {
    flex-basis: 80%;
  }
  .txtarea {
    font-size:18px;
    max-width: 380px;
  }
}



@keyframes load {
    from {
        padding-right: 0%;
    }
}

@-webkit-keyframes load {
    from {
        padding-right: 0%
    }
}

@-moz-keyframes load {
    from {
        padding-right: 0%
    }
}

@-o-keyframes load {
    from {
        padding-right: 0%
    }
}

.bar::before{
    content: attr(data-skill);
    background-color: #b1c6db;
    border-radius: inherit;
    padding-left: 15px;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}


.bar.htmlbar::before {
    padding-right: 45%;
    transition: 2s;
}

.bar.css-bar::before {
    padding-right: 40%;
    transition: 2s;
}

.bar.js-bar::before {
    padding-right: 20%;
    transition: 2s;
}

.bar.react-bar::before {
    padding-right: 20%;
    transition: 2s;
}

.bar.php-bar::before {
    padding-right: 25%;
    transition: 2s;
}
.bar.python-bar:before {
    padding-right: 30%;
    transition: 2s;
}


.contact-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width: auto;
  background-color: #b1c6db;
  margin-top: 50px;
}

.contact-container *{
  padding:10px;
  z-index: 1;
  font-size: 30px;
  border-radius: 50%;
}
.contact-container a {
    color:#273645;
}
.contact-container #lk:hover{
  color:#0077B5;
}
.contact-container #fb:hover{
  color:#4267B2;
}
.contact-container #insta:hover{
  color:#e4405f;
}
.contact-container #tw:hover{
  color:#55acee;
}
.contact-container #gh:hover{
  color:#000000;
}
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer *{
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color:#273645;
}
