:root {
    --primary-color: #394856;
    --font-color: #1e272e;
    --bg-color: #d2dae2;
    --heading-color: #485460;
    --secondary-color: #b1c6db;
    --shadow-color1: #b3b9c0;
  --shadow-color2:  #f2fbff;
}
[data-theme="dark"] {
    --primary-color: #d2dae2;
    --secondary-color: #818cab;
    --font-color: #d2dae2;
    --bg-color: #161625;
    --heading-color: #818cab;
    --shadow-color1: #13131f;
  --shadow-color2:  #19192b;

}


body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
}

#particlesjs canvas {
  position: fixed;
  /* fill the entire page */
  width: 100%;
  height: 100%;
  /* remove the space along the edges */
  margin: 0;
  padding: 0;
  /* position it to start at the top of the page */
  top: 0;

  /* put it behind other content */
}

.main-img {
  margin: 0;
  padding: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.my-img {
  margin: 0;
  padding: 0;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: relative;
  top: 75px;
}

.my-img:hover {
  border-radius: 80%;
  transition: 1s;
}

.txtarea {
  text-align: center;
  font-size: 35px;
  color: var(--primary-color);
  font-family: 'Cabin', sans-serif;
  margin-top: 60px;
  height: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.about-text {
      text-align: center;
      font-family: 'Noto Sans JP', sans-serif;
}

.cover-img {
  margin: 0;
  padding: 0;
  background: url('../images/cover-image.jpg');
  opacity: 0.5;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: -1;
}

.heading1 {
  margin: 25px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 50px;
  color: var(--heading-color);
  font-family: 'Ubuntu', sans-serif;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
}

.projects {
  margin: 20px;
  width: 300px;
  height: 440px;
  margin-bottom: 10px;
  background-color: var(--bg-color);
  border-radius: 10px;
  z-index: 1;
  box-shadow: 20px 20px 40px var(--shadow-color1),
             -20px -20px 40px var(--shadow-color2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.projects:hover {
transform: scale(1.015);
}

.project-name {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--bg-color);
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  background-color: var(--primary-color);
  max-width: inherit;
  width: 300px;
  height: 10%;
}

.project-details {
  display: flex;
  justify-content: center;
align-items: flex-start;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  text-align: left;
  color: var(--primary-color);
  padding: 10px;
  height: 30%;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 39px;
  color: black;
}

.project-image {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 100%;
  height: 35%;
  overflow: hidden;
}

.project-image img {
  padding: 5px;
  padding-top: 2px;
  width: 100%;
  height: 140px;
}

.project-link .icon{
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 10%;
  padding: 8px;
  box-shadow: 7px 7px 13px var(--shadow-color1),
             -7px -7px 13px var(--shadow-color2);
}

.project-link .icon:hover {
  box-shadow: 5px 5px 9px var(--shadow-color1),
             -5px -5px 9px var(--shadow-color2);
}

.skills-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: var(--bg-color);
}
.bar {
    z-index: 1;
  flex-basis: 40%;
background-color: var(--primary-color);
    padding: 5px;
    margin: 15px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.);
    color: var(--primary-color);


}
@media only screen and (max-width: 768px) {
  .skills-container {
    width: 80%;
    justify-content: center;
  }
  .bar {
      z-index: 1;
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 450px) {
  .skills-container {
    width:85%;
    justify-content: center;
  }
  .bar {
    flex-basis: 80%;
  }
  .txtarea {
    font-size:25px;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

@keyframes load {
    from {
        padding-right: 0%;
    }
}

@-webkit-keyframes load {
    from {
        padding-right: 0%
    }
}

@-moz-keyframes load {
    from {
        padding-right: 0%
    }
}

@-o-keyframes load {
    from {
        padding-right: 0%
    }
}

.bar::before{
    content: attr(data-skill);
    background-color: var(--bg-color);
    border-radius: inherit;
    padding-left: 15px;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}


.bar.htmlbar::before {
    padding-right: 45%;
    transition: 2s;
}

.bar.css-bar::before {
    padding-right: 40%;
    transition: 2s;
}

.bar.js-bar::before {
    padding-right: 28%;
    transition: 2s;
}

.bar.react-bar::before {
    padding-right: 18%;
    transition: 2s;
}

.bar.php-bar::before {
    padding-right: 25%;
    transition: 2s;
}
.bar.python-bar:before {
    padding-right: 30%;
    transition: 2s;
}
.bar.c-bar:before {
  padding-right: 30%;
  transition: 2s;
}
.bar.flutter-bar:before {
  padding-right: 30%;
  transition: 2s;
}
.resume {
  display: flex;
  justify-content: center;

}
.resume a{
  z-index: 1;
  text-decoration: none;
  font-family: Pacifico;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--bg-color);
   box-shadow: 5px 5px 9px var(--shadow-color1),
   -5px -5px 9px var(--shadow-color2);
 padding: 10px;
 margin-top: 20px;
}
.resume a:hover {
  box-shadow:7px 7px 13px var(--shadow-color1),
  -7px -7px 13px var(--shadow-color2);
}


.contact-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width: auto;
  background-color: var(--secondary-color);
  margin-top: 50px;
}

.contact-container *{
  padding:10px;
  z-index: 1;
  font-size: 30px;
  border-radius: 50%;
}
.contact-container a {
    color:#273645;
}
.contact-container #lk:hover{
  color:#0077B5;
}
.contact-container #fb:hover{
  color:#4267B2;
}
.contact-container #insta:hover{
  color:#e4405f;
}
.contact-container #tw:hover{
  color:#55acee;
}
.contact-container #gh:hover{
  color:#000000;
}
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer *{
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: var(--primary-color);
}
.theme-switch {
  position: absolute;
  right: 0;
  padding: 10px;
  z-index: 3;
}
.theme-switch #labeltag {
  display: inline-block;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.theme-switch input {
  display: none;
}
.round {
  display:inline-block;
  height: 18px;
  width: 46px;
  margin: 1px 2px;
  border-radius: 10px;
background-color: var(--bg-color);
transition: .4s;
}
.fas {
  font-size: 17px;
  text-align: center;
}
.fa-moon {
  color: #d2dae2;
}
.fa-sun {
  float: right;
  font-size: 16px;
  color: #161625;
  margin-right: 2px;
}
.loading-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.loading, .inner-circle {
margin: 20px auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: var(--primary-color);
  animation: circle 1s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  background-color: var(--bg-color);
  animation: innercircle 1s infinite ease-in-out;
}
@keyframes circle {
  0%, 100%{
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
@keyframes innercircle {
  0%, 100%{
    transform: scale(0);
  }
  50% {
    transform: scale(1.0);
  }
}
